name: DevSecOps Pipeline

on:
  push:
    branches:
      - main
      - develop

  pull_request:
    branches:
      - main


jobs:
  gitleaks:
      name: Gitleaks
      runs-on: ubuntu-latest
      continue-on-error: true
      steps:
        - uses: actions/checkout@v3
          with:
            fetch-depth: 0
        - uses: gastonbarbaccia/gitleaks@v2.1
          env:
            GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        - name: Get the output from the gitleaks step
          run: |
            echo "exitcode: ${{ steps.gitleaks.outputs.exitcode }}"
            echo "result: ${{ steps.gitleaks.outputs.result }}"
            echo "output: ${{ steps.gitleaks.outputs.output }}"
            echo "command: ${{ steps.gitleaks.outputs.command }}"
            echo "report: ${{ steps.gitleaks.outputs.report }}"
        - name: Upload SARIF report
          if: steps.gitleaks.outputs.exitcode == 1
          uses: github/codeql-action/upload-sarif@v2
          with:
            sarif_file: ${{ steps.gitleaks.outputs.report }} 


  phpstan:
    name: PHP Stan
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - uses: php-actions/phpstan@v3
        with:
          path: "deploy/"
          memory_limit: 4G

  php_lint:
    name: PHP Lint
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - name: PHP Syntax Checker (Lint)
        uses: StephaneBour/actions-php-lint@7.4
        with:
          dir: "deploy/"

  sonarcloud:
    name: Sonarcloud
    runs-on: ubuntu-latest
    needs: [gitleaks, phpstan, php_lint]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  dependency_check:
    name: Dependency check Scan
    runs-on: ubuntu-latest
    needs: [gitleaks, phpstan, php_lint]
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Depcheck
        uses: dependency-check/Dependency-Check_Action@main
        id: Depcheck
        with:
          project: "test"
          path: "deploy/"
          format: "HTML"
      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
          name: Depcheck report
          path: ${{github.workspace}}/reports

  Import_SQL:
    runs-on: ubuntu-latest
    name: MySQL Deploy Action
    needs: [sonarcloud,dependency_check]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: gtadam/mysql-deploy-action@v1
        with:
            DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
            DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
            DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
            DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
            DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
            DATABASE_SCRIPT: ${{ secrets.DATABASE_SCRIPT }}

  Deploy_staging:
    name: Deploy Staging
#    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    environment: 
      name: staging
      url: http://devops-dev.ga/gastonbarbaccia2/
    needs: [Import_SQL]
    steps:
      - uses: actions/checkout@v2
      - name: Upload ftp
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.FTP_SERVER }}
          user: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          localDir: "deploy/"
          remoteDir: "gastonbarbaccia2/" 